* {
    background-color: rgb(254, 246, 246);
    font-family: cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

.delete_a {
    cursor: pointer;
    margin: 0px 10px;
    color: red
}

.check_task {
    display: none;
    margin: 0px 10px;
    cursor: pointer;
}

#todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dotted black;
    width: 500px;
    height: 600px;
}

#task_holder {
    width: 380px;
    text-align: center;
    height: 25px;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px pink;
}

#btn1,
#btn2,
#btn3 {
    width: 125px;
    border: 0px;
    border-radius: 20px;
    font-size: 15px;
}

#btn1:hover,
#btn2:hover,
#btn3:hover {
    background-color: rgb(230, 229, 229);
}

#btn1 {
    border-bottom: 0px;
}

#btn2 {
    border-bottom: 2px solid black;
}

#btn3 {
    border-bottom: 0px;
}

#submit_btn {
    background-color: rgb(45, 45, 111);
    color: white;
    font-weight: bold;
    margin: 10px 0px;
    width: 80px;
    height: 25px;
    border-radius: 100px;
    box-shadow: 0px 0px 8px 0px rgb(255, 169, 169);
    animation-name: btn_anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes btn_anime {
    25% {
        box-shadow: 0px 0px 12px 2px rgb(175, 255, 182);
        color: rgb(175, 255, 182);
    }

    50% {
        box-shadow: 0px 0px 12px 2px rgb(254, 109, 128);
        color: rgb(254, 109, 128);
    }

    75% {
        box-shadow: 0px 0px 12px 2px rgb(152, 180, 212);
        color: rgb(152, 180, 212);
    }

    100% {
        box-shadow: 0px 0px 12px 2px rgb(255, 243, 16);
        color: rgb(255, 244, 44);
    }

}

#submit_btn:hover {
    background-color: rgb(66, 66, 188);
    color: white;
}

#task {
    margin-top: 20px;
}

.sub_task {
    display: flex;
    align-items: center;
    justify-content: center;
}

#task p {
    display: inline;
    text-align: center;
    width: 200px;
    background-color: rgb(251, 222, 227);
}